<div class="d-flex justify-content-center align-items-center mt-5">
    <form (ngSubmit)="Submit()" [formGroup]="momentForm" class="w-50">
        <!-- Title -->
        <div class="form-group">
            <label for="title"><h3>Title</h3></label>
            <input 
                formControlName="title" 
                type="text" 
                id="title" 
                placeholder="Mostre-nos o jeito que você gostaria de chamar esse momento" 
                class="btn1 form-control" 
                name="title"
                [class.is-invalid]="momentForm.get('title')?.errors && momentForm.get('title')?.touched"
            >
            <div 
                class="invalid-feedback"
                *ngIf="momentForm.get('title')?.hasError('required')">
                Lembre-se de colocar o título desse momento
            </div>
            <div 
                *ngIf="momentForm.get('title')?.hasError('maxlength')"
                class="invalid-feedback">
                O número máximo de caracteres é 250
            </div>
        </div>

        <!-- Description -->
        <div class="form-group mt-4">
            <label for="description"><h3>Description</h3></label>
            <textarea 
                name="description"
                id="description"
                class="btn1 form-control" 
                placeholder="O que aconteceu nesse momento?"
                [class.is-invalid]="momentForm.get('description')?.errors &&  momentForm.get('description')?.touched"
                formControlName="description"
            ></textarea>
            <div 
                *ngIf="momentForm.get('description')?.hasError('required')"
                class="invalid-feedback">
                Não se esqueça de descrever esse momento
            </div>
            <div 
                *ngIf="momentForm.get('description')?.hasError('maxlength')"
                class="invalid-feedback">
                O número máximo de caracteres é de 300 caracteres
            </div>
        </div>

        <!-- Image -->
        <div class="form-group mt-4">
            <label for="image">Envie-nos a foto que mais marcou: </label>
            <input 
                class="btn w-50"
                type="file" 
                name="image"
                (change)="onFileSelect($event)"
                [class.is-invalid]="momentForm.get('image')?.errors && momentForm.get('image')?.touched" 
            >
            <div 
                *ngIf="momentForm.get('image')?.hasError('required')"
                class="invalid-feedback">
                Não se esqueça de enviar a fotografia desse momento
            </div>
        </div>

        <!-- Submit button -->
        <input type="submit" [disabled]="momentForm.invalid" class="btn btn-success mt-4" value="Enviar">
    </form>
</div>
